<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap/css/bootstrap.min.css') }}">
    <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custom/') }}{{ stylesheet }}">-->
</head>
<body>
    <header class="container border border-primary p-4">
        <h1>{{ app_name }}</h1>
    </header>
    <div class="container">
        <div id="upgrades" class="row border border-secondary p-0">
            <ul class="list-group list-group-horizontal">
            {% for upgrade in game_data.upgrades %}
                <li class="upgrade list-group-item">
                    {{ upgrade["name"] }} : {{ upgrade["base_cost"] }} cookies
                </li>
            {% endfor %}
            </ul>
        </div>
    <div class="row">
        <div id="cookie" class="col-8 border border-secondary p-5">
            Cookies : {{ game_data.cookies_nbr }}
        </div>
        <div id="list" class="col border border-secondary p-0">
            <ul class="list-group">
            {% for upgrade in game_data.upgrades %}
                <li class="upgrade list-group-item">
                    {{ upgrade["name"] }} : {{ upgrade["number"] }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    </div>
    <footer class="container border border-primary">
        aenyx, rock-kun et ⛧
        <br />
        Version {{ version }}
    </footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>