<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
</head>
<body>
    <header>
        <h1>{{ app_name }}</h1>
    </header>
        <div id="upgrades">
            Upgrades available : ⚠️ coming soon ⚠
        </div>
    <div id="cookie">
        Cookies : {{ game_data.cookies_nbr }}
    </div>
    <div id="list">
        Counts
    </div>
    <footer>
        aenyx, rock-kun et ⛧
        <br />
        Version {{ version }}
    </footer>
</body>
</html>